<html>
  <head>
    <title>Your CSS, annotated</title>
    <style><%= styles %><%= error %></style>
    <% if all? %>
      <script type="text/javascript">
        function toggle(show) {
          var styles = document.styleSheets[0];
          var rules = styles.cssRules || styles.rules;
          for (var i in rules) {
            var rule = rules[i];
            if (rule.selectorText == "table.annotated tr")
              rule.style.display = show ? "table-row" : "none";
            if (rule.selectorText == ".toggle [rel=\"show\"]")
              rule.style.display = show ? "none" : "inherit";
            if (rule.selectorText == ".toggle [rel=\"hide\"]")
              rule.style.display = show ? "inherit" : "none";
          }
        }
        toggle(false);
      </script>
    <% end %>
  </head>
  <body>
    <% if rows %>
      <% if all? %>
        <div class="toggle">
          <a href="javascript:toggle(false)" rel="hide">Only commented</a>
          <a href="javascript:toggle(true)" rel="show">Show all</a>
        </div>
      <% end %>
      <table class="annotated">
        <% rows.each do |row| %>
          <tr class="<%= "commented" if row[:comment] %>">
            <td class="selector">
              <h2><%= h row[:selector] %></h2>
              <% if row[:comment] %><blockquote><%= h row[:comment] %></blockquote><% end %>
            </td>
            <td class="style"><pre><%= h row[:style]%></pre></td>
          </tr>
        <% end %>
      </table>
    <% end %>
    <div class="footer">
      Generated from <span class="filename"><%= filename %></span> on
      <%= Time.now.strftime("%c") %> by <a href="http://github.com/assaf/css-annotate">CSS Annotate</a>
    </div>
  </body>
</html>
